__pycache__/
*.pyc

*.o
*.so
*.a

test_*
hack_*
*_hack.py
*_backup.py
nohup*
old_*
*_old*
tmp_*

log/
old/
test/
output/
wornout/
develop/
original/
trivial/
plot/
plots/
diagnostic/
.ipynb_checkpoints/
outputs/

.DS_Store
